*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

article div.main-article{
    width: 10%;
    border-top: 5px solid #ebebeb;
}


.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

.description{
    color: hsl(253, 78%, 33%);
    opacity: 0;
    transition: all 2s;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
}

main section article{
    margin: 10px;
    width: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    transition: all 1s;
  }

main section article:hover{
    margin: auto;
    width: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow:  0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .description{
   opacity: 1;
}

main section article i{
    transition: all 1s;
}

main section article:hover i{
    transform: rotate(-90deg);
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

button{
    transition: all 1s;
}

button:hover{
    background-color: #0022AA;
    color: #FFF;
}

.piepagina {
    margin: 0 auto;
    text-align: center;
 }

.piepagina i{
    color: #0044AA;
    font-size: 2em;
    margin-bottom: 10px;   
}
nav {
    display: none;
}

.last-visit .products{
    display: flex;
    flex-direction: row;
}

.offers .products{
    display: flex;
    flex-direction: row;
}

@media (min-width: 361px){
    .burger-menu{
        display: none;
     }
    nav {
        display: flex;
        justify-content: space-around;
     }
    ul {
        display: flex;
        text-align: center;
    }
    li {
        margin: 10px;
    }
    
    .main-article{
        display: flex;
        align-items: flex-start;
                
    }

    .price{
        box-sizing: 70%;        
    }

    .discount {
        box-sizing: 30%;
        margin-bottom: 30px;
        margin-left: 20px;
        text-align: start;
    }
    .description {
        opacity: 1;
        color: black;
        position: absolute;
        align-self: flex-end;
        margin: 10px;
    }
    
}

@media (min-width: 769px){
    p {color: blue;
    }  
}

.form-login{
    display: flex;
    flex-direction: column;
    background-color: #d8c5c5;
    text-align: center;
    align-items: center;
}

.form-login input{
    width: 50%;
}

button.login {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(79, 79, 230);
    font-size: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
input {
    width: 50%;
    height: 30px;
    text-align: center;
    font-family: cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
button{
    width: 25%;
    margin-top: 5px;
    background-color: #0044AA;
    color: #FFF;
    
}

footer .piepagina{
    display: flex;
   
}

footer div.piepagina{
    display: flex;
    flex-direction: column;
}




